


*{
    box-sizing: border-box;
    padding:0px;
    margin:0px;
    font-family: "Roboto", sans-serif;
    background:  hsl(222, 17%, 15%);
}
body{
    position: relative;
}


.tracker {
    position: fixed;
    width: 10px;
    height: 10px;
    background-color: white;
    border-radius: 50%;
    pointer-events: none; /* Ensures the tracker doesn't interfere with mouse events */
    transform: translate(-50% , -50%); 
    transition: .15s;
left:0;
top:0 }

.trackerring {
    position: fixed;
    width: 40px;
    height: 40px;
    border: 1px solid black;
    border-radius: 50%;
    pointer-events: none; /* Ensures the tracker doesn't interfere with mouse events */
    transform: translate(-50% , -50%); 
    transition: .15s; 
    background: transparent;
}

.container {
    width: 1140px; /* Set width */
    margin: 0 auto;
  }

.nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:20px;
    background-color: hsl(222, 17%, 15%);
    color:white;

}

.items{

    

}

.items ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    
}

.items ul li {
    padding-left: 50px;
    font-size: 14px;
}

.hero{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 60vh;

}
.personal_info{
    flex: 1;
}
.personal_info h6{
    font-size: 36px;
    color:white;
}
.personal_info h1{
    font-size: 52px;
    color:white;
}
.personal_info p {
    font-size: 36px ;
}
.personal_info p span{
    color: skyblue;
    font-weight: bold;
}

.image_container{
    flex: 1;

}

.personal_info h1 :hover ~ .trackerring {
    
    transform: translate(-50% , -50%) scale(2);
}